<html>
<link href='https://fonts.googleapis.com/css?family=Palanquin:400,500' rel='stylesheet' type='text/css'>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
body {
  font-family: 'Palanquin', sans-serif;
}
input {
  width: 20em;
  height: 2em;
  font-size: 1em;
}
.container {
  text-align: center;
  padding-bottom: 10em;
}
.movies, .series {
  float: left;
  width: 20%;
  height: 36%;
}
@media screen and (max-width:800px) {
  .movies, .series {
    float: none; /* here we go */ 
    width: 100%;
    height: initial;
  }
}
</style>
<body ng-app="movieApp">

  <div class="container">
    <movie-div></movie-div>
  </div>

<script type="text/javascript">
  var app = angular.module('movieApp',['angular-loading-bar']);
  app.directive('movieDiv', function() {
  return {
    restrict: 'E',
    template: '<div>'
    +'<input class="form-control" placeholder="Search movie and series..." type="text" ng-model="search" ng-change="init(search,5)"/>'
    +'<br/><div ng-repeat="x in myData" ng-if="$index % 6 == 0">'
    +'<div class="panel panel-primary">'
    +'<div class="panel-heading">'
    +'<h3 class="panel-title">Movies</h3>'
    +'</div>'
    +'<div class="panel-body">'
    +'<p class="movies" ng-repeat="m in x.movies">'
    +'<img src="{{m.posterImage}}"/><br/> {{m.name}} {{m.year}}<br/>'
    +'<a href="https://www.youtube.com/results?search_query={{m.name}}+{{m.year}}+trailer" target="_blank">trailer</a>'
    +'</div>'
    +'</div> <br/>'
    +'<a href="#" ng-click="init(search,count+5)">More{{newCount}}</a> | <a href="#" ng-click="init(search,count-5)">Less{{newCount}}</a>'
    +'<br/><br/>'
    +'<div class="panel panel-primary">'
    +'<div class="panel-heading">'
    +'<h3 class="panel-title">Series</h3>'
    +'</div>'
    +'<div class="panel-body">'
    +'<p class="series" ng-repeat="s in x.tvSeries">'
    +'<img src="{{s.posterImage}}"/><br/> {{s.title}}{{s.startYear}}<br/>'
    +'<a href="https://www.youtube.com/results?search_query={{s.title}}+{{s.startYear}}+trailer" target="_blank">trailer</a></p></div></div>'
    +'</div>'
    +'</div>'
    ,

    controller: function($scope,$http) {
      //alert("inside controller...");
      // $scope.count = 0;
      $scope.init = function(search,count) {
        $scope.myData = null;

        if(search) {
        // var count = count;
        //alert(search+' '+count);
        $scope.count = count;
        var title = search;
        var url = 'https://www.rottentomatoes.com/api/private/v1.0/search/?catCount='+ count +'&q='+title;
        //GET
        $http.get(url).then(function (res) {
          $scope.myData = res;
          //alert(res);
        });
      } else {
        //alert('no search');
        $scope.myData = null;
      }
      }
    },
    controllerAs: 'movie'
  };
});
angular.element(document).ready(function() {
  angular.bootstrap(document, ['movieApp']);
});

</script>
</div>
</body>
</html>
